*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*:root
{

}
*/
.wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}
header .menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}