*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #001B2B;
}
/*:root
{

}
*/
.wrapper
{
    max-width: 1100px;
    margin: 0 auto;
}
.flex
{
    display: flex;
}
/*-------HEADER---------*/
header .menu
{
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
#Logo
{
    cursor: pointer;
}
.searchBox input
{
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #aaa;
    border-right: none;
    outline: none;
}
.searchBox button
{
    padding: 0 15px;
    cursor: pointer;
}
.profileImg img
{
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    color: #184C34;
}
header .menu .navbar ul
{
    justify-content: space-between;
}
header .menu .navbar ul li
{
    list-style: none;
    cursor: pointer;
    margin-left: 10px;
    color: #184C34;
}
/*---------MAIN---------*/
.container
{
    margin-top: 50px;
    color: #0EBD60;
}
aside
{
    width: 30%;
    padding: 100px 10px 0 10px;
    background-color: rgb(247, 232, 232);
    background-color: white;
    box-shadow: 0px 0px 1px 0px #FFFFFF;
    background-color: #EFF4ED;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main
{
    width: 40%;
    padding: 0 20px;
    background-color: #aaa;
    margin: 0 15px;
    background-color: white;
    box-shadow: 0px 0px 1px 0px #FFFFFF;
    background-color: #EFF4ED;
    border-radius: 4px;
    height: 70vh;
}
main .typeBox
{
    padding: 20px;
}