*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*:root
{

}
*/
.wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}
header .menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profileImg
{
    display: flex;
}
.profileImg img
{
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
header .menu .navbar ul
{
    display: flex;
    justify-content: space-between;
}
header .menu .navbar ul li
{
    list-style: none;
    cursor: pointer;
    margin-left: 10px;
}