*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    background-color: ;
}
:root
{
    --primaryGreen: #0EBD60;
    --darkGreen: #184C34;
}
.loginContainer
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 251);
}
.loginContainer .loginBox
{
    padding: 100px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #D8C3A5;
    border-radius: 8px;
}
.loginBox input
{
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
}
.loginBox input[type=submit]
{
    cursor: pointer;
    background-color: white;
}